@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Geist VF";
    src: url("/fonts/GeistVF.ttf");
    font-weight: 100 900;
    display: swap;
  }

  :root {
    --geist-ui-font: "Geist VF";

    @apply bg-neutral-950 font-sans font-thin text-neutral-200;
  }
}
